.ar {
  &-header {
    .image-box {
      @include breakpoint('large-up') {
        width: 190px;
      }
    }
  }

  &-use {
    &.points-list {
      .wrapper {
        .col-right {
          .image-box {
            margin-bottom: 65px;
          }
        }
      }
    }
  }

  &-devices {
    padding-bottom: 75px;
    .grider {
      @include breakpoint('large-up') {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 47%);
        gap: 0 6%;
        grid-template-areas:
        "left right"
      }
    }

    .wrapper {
      &-1 {
        @include breakpoint('large-up') {
          display: flex;
          flex-direction: column;
        }
        .eyebrow {
          @include breakpoint('large-up') {
            order: 1
          }
        }
        .title {
          @include breakpoint('large-up') {
            order: 2
          }
        }
        .image-box {
          @include breakpoint('large-up') {
            order: 4
          }
        }
        .text {
          @include breakpoint('large-up') {
            order: 3
          }
        }
      }
      &-2 {
        .image-box,
        .text {
          margin-left: 20%;
        }
      }
    }

    .image-2 {
      @include breakpoint('large-up') {
        width: 300px;
      }
    }


    .text {
      &-1 {
        margin-top: 30px;
        margin-bottom: 45px;
        margin-left: 55px;
        @include breakpoint('large-up') {
          margin-top: 0;
          margin-bottom: 120px;
          margin-left: 0;
        }
      }
      &-2 {
        margin-top: 30px;
      }
    }
  }
}