.contact {
  &-form {
    padding-top: 90px;
    padding-bottom: 45px;

    @include breakpoint('large-up') {
      padding-bottom: 180px;
    }

    .wpcf7-form {
      @include breakpoint('large-up') {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 200px;
      }
    }

    .title {
      margin-bottom: 45px;
      @include breakpoint('large-up') {
        margin-bottom: 60px;
      }
    }

    label {
      font-weight: 500;
    }

    input {
      font-family: $montserrat;
      font-size: 14px;
      line-height: 17px;
      &:focus {
        outline: none;
      }

      @include breakpoint('medium-up') {
        font-size: 20px;
        line-height: 24px;
      }
    }

    input[type=text],
    input[type=radio],
    input[type=email],
    input[type=tel] {
      width: 100%;
      border-top: none;
      border-right: none;
      border-left: none;
      margin: 25px 0 45px;
      border-bottom: 2px solid $black;
    }

    .app-type {
      @include breakpoint('large-up') {
        margin-bottom: 30px;
      }
    }

    .wpcf7-radio {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px 0;
      .wpcf7-list-item {
        margin: 15px 0 0;
        input {
          display: none;
        }
        label {
          display: block;
          width: 145px;
          height: 145px;
          padding-top: 15px;
          border: 2px solid $black;
          text-align: center;
          border-radius: 10px;
          background-color: $white;
          background-position: center 45px;
          background-repeat: no-repeat;
          transition: all .2s linear;
          cursor: pointer;

          @include breakpoint('medium-up') {
            width: 160px;
            height: 160px;
            font-size: 20px;
            line-height: 24px;
            background-position-y: 60px;
          }

          &.selected {
            background-color: $blue;
            color: $white;
          }
        }

        &:nth-child(2),
        &.last {
          label {
            @include breakpoint('large-up') {
              margin-left: -40px;
            }
          }
        }

        &.first {
          label {
            
            background-image: url('./images/contact/vr.png');
          }
        }
        &:nth-child(2) {
          label {
            background-image: url('./images/contact/ar.png');
          }
        }
        &:nth-child(3) {
          label {
            background-image: url('./images/contact/other.png');
          }
        }
        &.last {
          label {
            background-image: url('./images/contact/question.png');
          }
        }
      }
    }

    .submit {
      margin-top: 50px;
      text-align: center;

      span[class*="acceptance-"] {
        display: block;
        width: 100%;
        text-align: left;
      }

      .acpt {
        + span {
          font-size: 14px;
        }
      }

      input[type=submit] {
        padding: 7px 25px;
        border: none;
        background-color: $blue;
        color: $white;
        border-radius: 50px;
        font-weight: 600;
        cursor: pointer;
        @include breakpoint('medium-up') {
          padding: 14px 54px;
          font-size: 22px;
          line-height: 26px;
        }
      }
    }
  }

  &-other {
    padding-bottom: 30px;

    .divider {
      border: 1px solid $black;
      margin-bottom: 30px;

      &:first-child {
        @include breakpoint('medium-up') {
          margin-bottom: 60px;
        }
      }

      &:last-child {
        margin-top: 30px;
      }
    }

    .slogan {
      margin-bottom: 30px;
      text-align: center;
      font-weight: 500;

      @include breakpoint('medium-up') {
        margin-bottom: 60px;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;

      @include breakpoint('medium-up') {
        flex-direction: row;
        justify-content: space-around;
      }
    }
    a {
      margin-bottom: 30px;
      img {
        width: 29px;
        margin-right: 32px;
        vertical-align: middle;
      }
    }
  }
}