.training {
  &-header {
    .image-box {
      @include breakpoint('large-up') {
        width: 230px;
      }
    }
  }

  &-benefits {
    margin-top: 75px;

    .wrapper {
      @include breakpoint('medium-up') {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
      }
    }

    .benefit-box {
      display: flex;
      align-items: center;
      overflow: auto;
      margin: 25px 0;
      @include breakpoint('medium-up') {
        flex-direction: column;
      }
      &:nth-of-type(2) {
        margin-top: 130px;
      }
      p {
        width: 200px;
        margin-left: 25px;
        @include breakpoint('medium-up') {
          width: 350px;
        }
      }
    }
    .image-box {
      width: 85px;
      @include breakpoint('medium-up') {
        width: 170px;
        margin-bottom: 60px;
      }
    }
  }

  &-potential {
    margin-top: 75px;
  }
}